 body {
    background: yellow!important; 
    color: red;
  }

  .sto-ulso1l{
    color: cyan;
  }

  .sto-79elbk{
    background-color: red;
  }

  .sto-seeqrm[data-selected="true"]{
    background: greenyellow!important;
  }